/* Stylesheet for Financial Services page, written by Sam Wallinga for CSC215, Winter 2014 */

html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  padding: 0 0 0px;
}

#footer {
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
}

#calculator {
    width: 325px;
    height: auto;

    margin: auto;
    padding: 20px 20px 9px;
}

#disclaimer {
  text-align: center;
  size: 10px;
}

.jumbotron p {
    font-style: italic;
}

.jumbotron {
    position: relative;
    z-index: 3;
}

.top span.clear {
    float: left;
}

.top .screen {
    height: 36px;
    width: 212px;
    float: right;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);

    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

.keys, .top {
    overflow: hidden;
}

.keys {
    font: bold 14px Arial, sans-serif;
}

.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;

    cursor: pointer;

    width: 66px;
    height: 36px;

    background: #d9d9d9;
    margin: 0 7px 7px 0;

    color: #888;
    line-height: 36px;
    text-align: center;

    user-select: none;

    transition: all 0.1s ease;
}

.keys span.op {
    background: #d9d9d9;
    margin-right: 0;
}

.keys span.eval {
    background: #d9d9d9;
    color: #888;
}

.top span.clear {
    background: #d9d9d9;
    color: #888;
}

.keys span:hover {
    background: #c9c9c9;
    color: white;
}

.keys span.eval:hover {
    background: #abb850;
    color: white;
}

.top span.clear:hover {
    background: #f68991;
    color: white;
}

